<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginadmin</servlet-name>
        <servlet-class>controller.loginadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listAdmin</servlet-name>
        <servlet-class>controller.listAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAdmin</servlet-name>
        <servlet-class>controller.createAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LOGOUT</servlet-name>
        <servlet-class>controller.LOGOUT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProducts</servlet-name>
        <servlet-class>controller.InsertProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductsServlet</servlet-name>
        <servlet-class>controller.ShowProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCbbServlet</servlet-name>
        <servlet-class>controller.ShowCbbServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBrand</servlet-name>
        <servlet-class>controller.InsertBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBrandServlet</servlet-name>
        <servlet-class>controller.ShowBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBrand</servlet-name>
        <servlet-class>controller.UpdateBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProductsServlet</servlet-name>
        <servlet-class>controller.DetailProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailBrandServlet</servlet-name>
        <servlet-class>controller.DetailBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCategory</servlet-name>
        <servlet-class>controller.InsertCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createCate</servlet-name>
        <servlet-class>controller.createCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportByBrand</servlet-name>
        <servlet-class>controller.AdminReportByBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowFeedback</servlet-name>
        <servlet-class>controller.AdminShowFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEmailServlet</servlet-name>
        <servlet-class>controller.getEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>controller.ReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReportByCategory</servlet-name>
        <servlet-class>controller.AdminReportByCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginCustomer</servlet-name>
        <servlet-class>controller.loginCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createCUSTOMER</servlet-name>
        <servlet-class>controller.createCUSTOMER</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductByCategoryServlet</servlet-name>
        <servlet-class>controller.AllProductByCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductByBrandServlet</servlet-name>
        <servlet-class>controller.AllProductByBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductByBrandsServlet</servlet-name>
        <servlet-class>controller.AllProductByBrandsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartServlet</servlet-name>
        <servlet-class>controller.EditCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginCustomerServlet</servlet-name>
        <servlet-class>controller.loginCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createCUSTOMERServlet</servlet-name>
        <servlet-class>controller.createCUSTOMERServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginAdminServlet</servlet-name>
        <servlet-class>controller.loginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAdminServlet</servlet-name>
        <servlet-class>controller.createAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAdminServlet</servlet-name>
        <servlet-class>controller.ShowAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginCheckout</servlet-name>
        <servlet-class>controller.loginCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PleaceOrderServlet</servlet-name>
        <servlet-class>controller.PleaceOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>controller.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createBrandServlet</servlet-name>
        <servlet-class>controller.createBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ratingServlet</servlet-name>
        <servlet-class>controller.ratingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishListSevlet</servlet-name>
        <servlet-class>controller.WishListSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPriceServlet</servlet-name>
        <servlet-class>controller.SearchPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>controller.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutusServlet</servlet-name>
        <servlet-class>controller.AboutusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompareServlet</servlet-name>
        <servlet-class>controller.CompareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comparejsp</servlet-name>
        <servlet-class>controller.comparejsp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartCategoryServlet</servlet-name>
        <servlet-class>controller.ChartCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CharBrandServlet</servlet-name>
        <servlet-class>controller.CharBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageOrderServlet</servlet-name>
        <servlet-class>controller.AdminManageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listAdminServlet</servlet-name>
        <servlet-class>controller.listAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listCustomerServlet</servlet-name>
        <servlet-class>controller.listCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProccessStatusServlet</servlet-name>
        <servlet-class>controller.AdminEditProccessStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminViewOrderDetails</servlet-name>
        <servlet-class>controller.adminViewOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartCustomerServlet</servlet-name>
        <servlet-class>controller.ChartCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminReplyServlet</servlet-name>
        <servlet-class>controller.AdminReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFeedbackServlet</servlet-name>
        <servlet-class>controller.AdminFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEmailCusServlet</servlet-name>
        <servlet-class>controller.getEmailCusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminViewDashBoard</servlet-name>
        <servlet-class>controller.adminViewDashBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminReportCustomer</servlet-name>
        <servlet-class>controller.adminReportCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminReport_1</servlet-name>
        <servlet-class>controller.adminReport_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBrandServlet</servlet-name>
        <servlet-class>controller.InsertBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCategoryServlet</servlet-name>
        <servlet-class>controller.InsertCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowCombo</servlet-name>
        <servlet-class>controller.AdminShowCombo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserProductServlet</servlet-name>
        <servlet-class>controller.InserProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowCategory</servlet-name>
        <servlet-class>controller.AdminShowCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowBrand</servlet-name>
        <servlet-class>controller.AdminShowBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminShowProduct</servlet-name>
        <servlet-class>controller.AdminShowProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditCategory</servlet-name>
        <servlet-class>controller.AdminEditCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditBrand</servlet-name>
        <servlet-class>controller.AdminEditBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDetailBrandServlet</servlet-name>
        <servlet-class>controller.AdminDetailBrandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDetailCategoryServlet</servlet-name>
        <servlet-class>controller.AdminDetailCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginadmin</servlet-name>
        <url-pattern>/loginadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listAdmin</servlet-name>
        <url-pattern>/listAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAdmin</servlet-name>
        <url-pattern>/createAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LOGOUT</servlet-name>
        <url-pattern>/LOGOUT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProducts</servlet-name>
        <url-pattern>/InsertProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductsServlet</servlet-name>
        <url-pattern>/ShowProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCbbServlet</servlet-name>
        <url-pattern>/ShowCbbServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBrand</servlet-name>
        <url-pattern>/InsertBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBrandServlet</servlet-name>
        <url-pattern>/ShowBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBrand</servlet-name>
        <url-pattern>/UpdateBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProductsServlet</servlet-name>
        <url-pattern>/DetailProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailBrandServlet</servlet-name>
        <url-pattern>/DetailBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCategory</servlet-name>
        <url-pattern>/InsertCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createCate</servlet-name>
        <url-pattern>/createCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportByBrand</servlet-name>
        <url-pattern>/AdminReportByBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowFeedback</servlet-name>
        <url-pattern>/AdminShowFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEmailServlet</servlet-name>
        <url-pattern>/getEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/ReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReportByCategory</servlet-name>
        <url-pattern>/AdminReportByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginCustomer</servlet-name>
        <url-pattern>/loginCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createCUSTOMER</servlet-name>
        <url-pattern>/createCUSTOMER</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductByCategoryServlet</servlet-name>
        <url-pattern>/AllProductByCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductByBrandServlet</servlet-name>
        <url-pattern>/AllProductByBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductByBrandsServlet</servlet-name>
        <url-pattern>/AllProductByBrandsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartServlet</servlet-name>
        <url-pattern>/EditCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginCustomerServlet</servlet-name>
        <url-pattern>/loginCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createCUSTOMERServlet</servlet-name>
        <url-pattern>/createCUSTOMERServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginAdminServlet</servlet-name>
        <url-pattern>/loginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAdminServlet</servlet-name>
        <url-pattern>/createAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAdminServlet</servlet-name>
        <url-pattern>/ShowAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginCheckout</servlet-name>
        <url-pattern>/loginCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PleaceOrderServlet</servlet-name>
        <url-pattern>/PleaceOrderServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/ProductDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createBrandServlet</servlet-name>
        <url-pattern>/createBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ratingServlet</servlet-name>
        <url-pattern>/ratingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishListSevlet</servlet-name>
        <url-pattern>/WishListSevlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPriceServlet</servlet-name>
        <url-pattern>/SearchPriceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutusServlet</servlet-name>
        <url-pattern>/AboutusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompareServlet</servlet-name>
        <url-pattern>/CompareServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comparejsp</servlet-name>
        <url-pattern>/comparejsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartCategoryServlet</servlet-name>
        <url-pattern>/ChartCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CharBrandServlet</servlet-name>
        <url-pattern>/CharBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageOrderServlet</servlet-name>
        <url-pattern>/AdminManageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listAdminServlet</servlet-name>
        <url-pattern>/listAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listCustomerServlet</servlet-name>
        <url-pattern>/listCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProccessStatusServlet</servlet-name>
        <url-pattern>/AdminEditProccessStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminViewOrderDetails</servlet-name>
        <url-pattern>/adminViewOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartCustomerServlet</servlet-name>
        <url-pattern>/ChartCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminReplyServlet</servlet-name>
        <url-pattern>/AdminReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFeedbackServlet</servlet-name>
        <url-pattern>/AdminFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEmailCusServlet</servlet-name>
        <url-pattern>/getEmailCusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminViewDashBoard</servlet-name>
        <url-pattern>/adminViewDashBoard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminReportCustomer</servlet-name>
        <url-pattern>/adminReportCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminReport_1</servlet-name>
        <url-pattern>/adminReport_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBrandServlet</servlet-name>
        <url-pattern>/InsertBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCategoryServlet</servlet-name>
        <url-pattern>/InsertCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowCombo</servlet-name>
        <url-pattern>/AdminShowCombo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserProductServlet</servlet-name>
        <url-pattern>/InserProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowCategory</servlet-name>
        <url-pattern>/AdminShowCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowBrand</servlet-name>
        <url-pattern>/AdminShowBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminShowProduct</servlet-name>
        <url-pattern>/AdminShowProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditCategory</servlet-name>
        <url-pattern>/AdminEditCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditBrand</servlet-name>
        <url-pattern>/AdminEditBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDetailBrandServlet</servlet-name>
        <url-pattern>/AdminDetailBrandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDetailCategoryServlet</servlet-name>
        <url-pattern>/AdminDetailCategoryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
